<head>
  <link rel="stylesheets" href="../../assets/stylesheets/application.css">
</head>

<body>
<h1>Editing Book</h1>
  <div class="field">
  <%= form_with model: @book, local:true do |f| %>
  <h4 class="item">Title</h4>
  <%= f.text_field :title %>
  </div>
  <div class="field">
  <h4 class="item">Body</h4>
  <%= f.text_area :body %>
  </div>
  <div class="action">
  <%= f.submit 'Update Book' %>
  <% end %>
  </div>

<div class="page1">
  <%= link_to "Show", book_path(@book) %>
</div>
<div class="page1">｜</div>
<a class="page1" href="/books">Back</a>

</body>